.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0.5rem;
  font-size: 1.4rem;
  line-height:1.4rem;

  @media(max-width:360px){
    justify-content: space-around;
  }
  a{
    color: $grey;
      &:hover{
        color: #222;
        text-decoration: none;
      }
  }
  .header__content-wrap{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0.5rem;
    font-size: 1.4rem;
    line-height:1.4rem;
    @media(max-width:360px){
      flex-direction: column;

    }
  }
}
.header-hr{
  width:100%;
  margin:0;
  border: 4px solid #222;
}
.header__authorization{
  display: flex;
  flex-wrap: wrap;
  li{
    text-decoration: underline;
    text-decoration-style: dotted;
    &:hover{
      text-decoration-style:solid;
    }
    a{
      line-height:16px;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .authorization__sep{
    margin:0 4px;
    text-decoration: none;
  }
}
.big-news__social{
  display: flex;
  flex-wrap: wrap;

}