
#wrapper {
  margin:0 auto;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.toggled {
    padding-left: 209px;
  }
}



#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 209px;
  width: 0;
  height: 100%;
  margin-left: -209px;
  overflow-y: scroll;
  background: #222;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  min-height: 100vh;
}

#wrapper.toggled #sidebar-wrapper {
  width: 209px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -209px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 209px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.4rem;
      @media(max-width: $tablet){
        font-size: 1.8rem;
      }
  @media(max-width: $mobile){
    font-size: 2rem;
  }
  hr{
    background: #353535;
    margin:0 2rem;
  };
  .sidebar-nav__section-2{
    a{
      color: $grey;
    }
  }
  li {
    line-height: 40px;
  }
  a {
    padding-left: 2rem;
    display: block;
    text-decoration: none;
    color: #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(255,255,255,0.2);
    }
    &:active,&:focus {
      text-decoration: none;
    }
    &.active{
      color: $red;
    }
  }
}

.sidebar-brand{
  margin-top:14px;
  a{
    &:hover{
      background: none;
    }
  }
}
.sidebar-nav__search{
  display: flex;
  justify-content:center;
  margin:0 20px;
  position: relative;
  flex-wrap: wrap;
  &:after{
    content: '\f002';
    font-family: FontAwesome;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 13px;
    right:10px;
    top:-7px;
    color: #959596;
  }
  input{
    background: #222;
    height:26px;
    width:100%;
    box-sizing: border-box;
    border:1px solid #353535;
    border-radius: 2px;
    color: $grey;
    padding:0 8px;

  }
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }

  #wrapper.toggled {
    padding-left: 209px;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 209px;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
