/**************** BIG NEWS STARTS ******************/
.big-news{
  padding: 3rem 0;
  border-bottom:1px solid #e7e7e7;
}
.big-news__content-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.big-news__title{
  font-size: 3.6rem;
  font-weight:bold;
  line-height:3.6rem;
}
.big-news__sub-title{
  font-size: 1.4rem;
  line-height:1.4rem;
  color: $grey;
}
.big-news__description{
  li{
    margin-top:1.4rem;
  }
}
.short-description{
  margin-top:1.8rem;
}
.description-item__name{
  font-weight:bold;
  font-size:1.4rem;
}
.learn-more-link{
  color: $red;
  font-size:1.4rem;
  line-height:1.4rem;
  margin-bottom:0.8rem;
}
//socials ends
.big-news__social-item{
  margin:0 4px;
  height:18px;
  border-radius: 2px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Arial;
    &:hover{
      opacity: 0.8;
    }


  a{
    display: flex;
    justify-content: center;
    align-items:center;
    height:100%;
    box-sizing: border-box;
    z-index:2;
      &:hover{
        text-decoration: none;

      }
      &:focus,&:active{
        text-decoration: none;
      }

  }
  span{
    color: #fff;
    font-size:13px;
    font-weight:bold;
    line-height:14px;
  }
  img{
    margin-right:6px;
  }
    .fa{
      color: #fff;
      font-size:14px;
    }

  .fa:not(.fa-odnoklassniki){
    margin-right:6px;
  }
}

.big-news__social-vk{
  background: #48729e;
  img{
    margin:0 2px;
  }
}
.big-news__social-facebook{
  background: #3c5a98;
  a{
    padding:3px 4px;
  }

}
.big-news__social-twitter{
  background: #00aced;
  a{
    padding:3px 4px;
  }
}
.big-news__social-odnoklasniki{
  background: #ff9f4d;
  a{
    padding:3px 5px 4px 4px;
  }
}
.big-news__social-mailru{
  background: #226eb7;
  a{
    padding:3px 4px;
  }
  align-items:center;
}
.big-news__social-google{
  background: #c25234;
}
//socials starts
/**************** BIG NEWS ENDS ******************/

//_______________________________________________________________________________________

/**************** SMALL NEWS STARTS ******************/

.small-news-block{
  padding:0 0 0 2rem;
    @media(max-width:768px){
      width:50%;
    }
  @media(max-width:450px){
    width:100%;
  }
}
.small-news-row{
  padding-bottom:6rem;
  padding-right:2rem;
  img{
    width: 100%;
  }
}
.small-news__title{
  font-size:2.4rem;
  font-weight:bold;
  line-height:2.4rem;
}

.small-news__sub-title{
  color: $grey;
  line-height:1.4rem;
  margin-top:0.6rem;
}
.small-news__description{
  margin-top:1.5rem;
}
.small-news-block{
  margin-top:3.5rem;
  margin-bottom:0.8rem;
}











/**************** SMALL NEWS ENDS ******************/