<div class="col-lg-12">
    <div class="big-news">
            <h2 class="big-news__title">
                Марафон «Налибоки '16»
            </h2>
            <h4 class="big-news__sub-title">
                Любительский марафон
            </h4>
        <div class="row short-description">
            <div class="col-lg-7 col-xs-12">
                <img class="img-fluid" src="img/big-news.jpg" alt="">
            </div>
            <div class="col-lg-5 col-xs-12 big-news__content-wrap">
                <ul class="big-news__description">
                        <li class="big-news__description-item">
                            <span class="description-item__name">Дата:</span>
                            28-29 мая 2016 г.
                        </li>

                        <li class="big-news__description-item">
                            <span class="description-item__name">Место:</span>
                            РБ, Минская Гродненская области, Воложинский, Молодечненский, Сморгонский, Ивьевский, Столбцовский районы.
                        </li>

                        <li class="big-news__description-item">
                            <span class="description-item__name">Ранг:</span>
                            Марафон проводится в рамках Кубка приключенческих гонок «Промвад Тур '16», Кубка марафонов "Поехали!" 2016.
                        </li>

                        <li class="big-news__description-item">
                          Марафон проводится в рамках Кубка приключенческих гонок «Промвад Тур '16», Кубка марафонов "Поехали!" 2016.
                        </li>

                        <li class="big-news__description-item learn-more-link">
                            <a class="learn-more-link" href="#">Подробнее</a>

                        </li>
                </ul>
                <ul class="big-news__social">
                    <li class="big-news__social-item big-news__social-vk">
                        <a href="#">
                            <img src="../img/vk.jpg" alt="">
                        </a>
                    </li>
                    <li class="big-news__social-item big-news__social-facebook">
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i> <span>890</span>
                        </a>
                    </li>
                    <li class="big-news__social-item big-news__social-twitter">
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i><span>168</span>
                        </a>
                    </li>
                    <li class="big-news__social-item big-news__social-odnoklasniki">
                        <a href="#">
                            <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="big-news__social-item big-news__social-mailru">
                        <a href="#">
                            <img src="../img/mail-ru.jpg" alt=""><span>1435</span>
                        </a>
                    </li>
                    <li class="big-news__social-item big-news__social-google">
                        <a href="#">
                            <img src="../img/google-plus.jpg" alt=""> <span>181</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>