<footer class="footer">
    <div class="container">
            <ul class="footer__nav-list">
                <li>
                    <a href="#">Мобильная версия</a>
                </li>
                <li>
                    <a href="#">Рассылка новостей</a>
                </li>
                <li>
                    <a href="#">Правила сайта</a>
                </li>
                <li>
                    <a href="#"> Помощь клуба</a>
                </li>
                <li>
                    <a href="#">Карты</a>
                </li>
                <li>
                    <a href="#">Регионы</a>
                </li>
            </ul>
        <div class="copy-right">
            <p>&copy; 1999–2016 «Поехали!»<p>
        </div>
    </div>
</footer>