<!--Header starts-->
<div class="header">
        //= humburger-btn.html
    <div class="header__content-wrap">
        <div>
            <a href="#">
                Портал о вело-мероприятиях Беларуси
            </a>
        </div>
        <ul class="header__authorization">
            <li class="authorization-enter">
                <a href="#">Вход</a>
            </li>
            <li class="authorization__sep">/</li>
            <li class="authorization-reg">
                <a href="#">Регистрация</a>
            </li>
        </ul>
    </div>
</div>
<!--Header ends-->