<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-nav__section-1">
            <ul>
                <li class="sidebar-brand">
                    <a  href="#">
                        <img class="logo-img" src="../img/logo-img.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="active" href="#">Все мероприятия</a>
                </li>
                <li>
                    <a href="#">Игра-квест</a>
                </li>
                <li>
                    <a href="#">Соревнования</a>
                </li>
                <li>
                    <a href="#">Кросс-кантри</a>
                </li>
                <li>
                    <a href="#">Любительский марафон</a>
                </li>
                <li>
                    <a href="#">Многодневка</a>
                </li>
                <li>
                    <a href="#">Поисково-спасательные работы</a>
                </li>
            </ul>
        </li>
        <hr>
        <li class="sidebar-nav__section-2">
            <ul>
                <li>
                    <a href="#">Планируемые события
                    </a>
                </li>
                <li>
                    <a href="#">События и фото отчеты</a>
                </li>
                <li>
                    <a href="#">Туризм</a>
                </li>
                <li>
                    <a href="#">Спецпроект</a>
                </li>
                <li>
                    <a href="#">Спонсорство</a>
                </li>
                <li>
                    <a href="#">Благотоворительность</a>
                </li>
                <li>
                    <a href="#">
                        Архив событий
                    </a>
                </li>
                <li class="sidebar-nav__search">
                    <input type="search" placeholder="Поиск">
                </li>
            </ul>
        </li>
    </ul>
    <!---->

</div>
<!-- /#sidebar-wrapper -->