<!--Small NEWS BLOCK STARTS-->
<div class="col-lg-4 col-md-6    small-news-block">
    <ul class="small-news__List">
        <li class="small-news__List-item">
            <img class="small-news__img" src="img/news-thumb-1.jpg"/>
        </li>
        <li class="small-news__List-item">
                <div class="small-news">
                    <h2 class="small-news__title">
                        Марафон «Налибоки '16»
                    </h2>
                    <h4 class="small-news__sub-title">
                        Любительский марафон
                    </h4>
                </div>
        </li>
        <li class="small-news__List-item">
            <p class="small-news__description">
                Один из самых популярных стартов в Беларуси, который ежегодно собирает более 500 любителей ориентирования. Взрослые и дети три дня покоряют лесные трассы, соревнуются и учатся, отдыхают и общаются.
            </p>

                <a class="learn-more-link" href="#">Подробнее</a>
            </p>
        </li>
    </ul>

</div>
<!--Small NEWS BLOCK ENDS-->
<!--Small NEWS BLOCK STARTS-->
<div class="col-lg-4  col-md-6   small-news-block">
    <ul class="small-news__List">
        <li class="small-news__List-item">
            <img class="small-news__img" src="img/news-thumb-2.jpg"/>
        </li>
        <li class="small-news__List-item">
            <div class="small-news">
                <h2 class="small-news__title">
                    Страховский веломарафон
                </h2>
                <h4 class="small-news__sub-title">
                    Кросс-кантри
                </h4>
            </div>
        </li>
        <li class="small-news__List-item">
            <p class="small-news__description">
                Вас ждет увлекательный трек, хороший перепад высот, базовый лагерь в живописнейшем месте на берегу Березины, а также накал спортивной борьбы, проверка своих сил.
            </p>

            <a class="learn-more-link" href="#">Подробнее</a>
            </p>
        </li>
    </ul>

</div>
<!--Small NEWS BLOCK ENDS-->
<!--Small NEWS BLOCK STARTS-->
<div class="col-lg-4 col-md-6   small-news-block">
    <ul class="small-news__List">
        <li class="small-news__List-item">
            <img class="small-news__img" src="img/news-thumb-3.jpg"/>
        </li>
        <li class="small-news__List-item">
            <div class="small-news">
                <h2 class="small-news__title">
                    Кубок марафонов
                </h2>
                <h4 class="small-news__sub-title">
                    Мультимарафон
                </h4>
            </div>
        </li>
        <li class="small-news__List-item">
            <p class="small-news__description">
                В качестве первых в сезоне соревнований, контрольной тренировки, повода слезть с дивана, в конце концов, приглашаем на любительский марафон «Люты», который пройдет 20 февраля под Лепелем.
            </p>

            <a class="learn-more-link" href="#">Подробнее</a>
            </p>
        </li>
    </ul>

</div>
<!--Small NEWS BLOCK ENDS-->
<!--Small NEWS BLOCK STARTS-->
<div class="col-lg-4 col-md-6   small-news-block">
    <ul class="small-news__List">
        <li class="small-news__List-item">
            <img class="small-news__img" src="img/news-thumb-4.jpg"/>
        </li>
        <li class="small-news__List-item">
            <div class="small-news">
                <h2 class="small-news__title">
                    Марафон «Медвежино»
                </h2>
                <h4 class="small-news__sub-title">
                    Кросс-кантри
                </h4>
            </div>
        </li>
        <li class="small-news__List-item">
            <p class="small-news__description">
                Отличный повод собраться вместе пообщаться, похвастаться новыми приобретениями, обсудить новинки велоиндустрии, принять участие в гонке, или посмотреть со стороны и поболеть за участников.
            </p>

            <a class="learn-more-link" href="#">Подробнее</a>
            </p>
        </li>
    </ul>

</div>
<!--Small NEWS BLOCK ENDS-->
<!--Small NEWS BLOCK STARTS-->
<div class="col-lg-4 col-md-6   small-news-block">
    <ul class="small-news__List">
        <li class="small-news__List-item">
            <img class="small-news__img" src="img/news-thumb-5.jpg"/>
        </li>
        <li class="small-news__List-item">
            <div class="small-news">
                <h2 class="small-news__title">
                    «Время героев»
                </h2>
                <h4 class="small-news__sub-title">
                    Посиково-спасательные работы
                </h4>
            </div>
        </li>
        <li class="small-news__List-item">
            <p class="small-news__description">
                Всем ценителям выживания в экстремальных условиях, почитателям традиционной медицины, легкоходам, любителям ориентирования на местности и просто, всем, кто ведёт активный образ жизни.
            </p>

            <a class="learn-more-link" href="#">Подробнее</a>
            </p>
        </li>
    </ul>

</div>
<!--Small NEWS BLOCK ENDS-->
<!--Small NEWS BLOCK STARTS-->
<div class="col-lg-4 col-md-6  small-news-block">
    <ul class="small-news__List">
        <li class="small-news__List-item">
            <img class="small-news__img" src="img/news-thumb-6.jpg"/>
        </li>
        <li class="small-news__List-item">
            <div class="small-news">
                <h2 class="small-news__title">
                    Летняя коллекция
                </h2>
                <h4 class="small-news__sub-title">
                    Игра-кветс
                </h4>
            </div>
        </li>
        <li class="small-news__List-item">
            <p class="small-news__description">
                В день игры пройти пешеходный или велосипедный маршрут по таким местам и увидеть их своими глазами смогут все желающие.
            </p>

            <a class="learn-more-link" href="#">Подробнее</a>
            </p>
        </li>
    </ul>

</div>
<!--Small NEWS BLOCK ENDS-->