//colors
$grey:#959595;
$black: #222;
$red: #cc3333;
$footer-bg: #051515;
// fonts
$font_1: 'PT Sans', 'Arial', sans-serif;

// media queries
$mobile: 320px;
$mobile_full: 480px;

$tablet: 768px;
$tablet_full: 992px;

$desktop: 1200px;
